In [1]:
import pandas as pd
from os import listdir, popen
from os.path import isfile, join, basename,splitext
import pinyin
import numpy as np
%matplotlib inline

In [2]:
#遍历目录
dataPath = "../Competition/赛题1数据集"
files = [f for f in listdir(dataPath) if isfile(join(dataPath, f))]

In [3]:
#读数据
allData = dict()
for f in files:
    fullPath = join(dataPath, f)
    print(fullPath)
    allData[splitext(f)[0]] = pd.read_excel(fullPath)

../Competition/赛题1数据集/专利.xlsx
../Competition/赛题1数据集/融资信息.xlsx
../Competition/赛题1数据集/购地-市场交易-土地抵押.xlsx
../Competition/赛题1数据集/年报-对外投资信息.xlsx
../Competition/赛题1数据集/商标.xlsx
../Competition/赛题1数据集/购地-结果公告.xlsx
../Competition/赛题1数据集/债券信息.xlsx
../Competition/赛题1数据集/项目信息.xlsx
../Competition/赛题1数据集/产品.xlsx
../Competition/赛题1数据集/购地-市场交易-土地转让.xlsx
../Competition/赛题1数据集/年报-企业基本信息.xlsx
../Competition/赛题1数据集/上市信息财务信息-现金流量表.xlsx
../Competition/赛题1数据集/年报-企业资产状况信息.xlsx
../Competition/赛题1数据集/上市信息财务信息-成长能力指标.xlsx
../Competition/赛题1数据集/年报-的对外提供保证担保信息.xlsx
../Competition/赛题1数据集/纳税A级年份.xlsx
../Competition/赛题1数据集/招投标.xlsx
../Competition/赛题1数据集/年报-社保信息.xlsx
../Competition/赛题1数据集/上市信息财务信息运营能力指标.xlsx
../Competition/赛题1数据集/购地-房地产大地块出让情况.xlsx
../Competition/赛题1数据集/购地-房地产大企业购地情况.xlsx
../Competition/赛题1数据集/竞品.xlsx
../Competition/赛题1数据集/企业评分.xlsx
../Competition/赛题1数据集/上市信息财务信息资产负债表.xlsx
../Competition/赛题1数据集/软著著作权.xlsx
../Competition/赛题1数据集/年报-网站或网点信息.xlsx
../Competition/赛题1数据集/年报-股东（发起人）及出资信息.xlsx
../Competition/赛题1数据集/上市信息财务信息-财务风险指标.xlsx
../Competition/赛题1数据集/上市信息财务信息-利润表.xlsx
../Competition/赛题1数据集/上市信息财务信息盈利能力指标.xlsx
../Competition/赛题1数据集/工商基本信息表.xlsx
../Competition/赛题1数据集/一般纳税人.xlsx
../Competition/赛题1数据集/作品著作权.xlsx
../Competition/赛题1数据集/海关进出口信用.xlsx
../Competition/赛题1数据集/资质认证.xlsx
../Competition/赛题1数据集/上市公司财务信息-每股指标.xlsx
../Competition/赛题1数据集/年报-股东股权转让.xlsx
../Competition/赛题1数据集/购地-地块公示.xlsx

In [4]:
powers = {'万': 10 ** 4, '亿': 10 ** 8, '%': 0.01}
# add some more to powers as necessary

def removeUnit1(s):
    try:
        power = s[-1]
        if power in powers:
            return float(s[:-1]) * powers[power]
        else:
            return float(s)
    except (TypeError,ValueError):
        return s
    
def removeUnit(x):
    return x.applymap(removeUnit1)

def cleanData(x):
    x.replace(r'^[-]+.*$', np.nan, regex=True,inplace=True)
    return removeUnit(x)

In [5]:
#训练数据的标注
score = allData['企业评分']
score.to_excel("real.xlsx", header=False, index=False, engine='xlsxwriter', float_format='%d', sheet_name='Sheet')

In [6]:
#专利数量
zl = allData['专利']
zl = cleanData(zl)
zl_count = zl.iloc[:,[0,1]].groupby('企业编号').count()

In [7]:
#合并到score
score = score.merge(zl_count,how = 'left', on='企业编号')

In [8]:
#融资次数，合并到score
rz = allData['融资信息']
rz = cleanData(rz)
rz_count = rz.iloc[:,[0,2]].groupby('企业编号').count()
score = score.merge(rz_count,how = 'left', on='企业编号')
score.head()

   企业编号      企业总评分    专利类型   轮次
0  1001  75.374276     4.0  1.0
1  1002  79.830122     2.0  2.0
2  1003  78.318264  1713.0  1.0
3  1004  83.253376     7.0  1.0
4  1005  83.291493    14.0  1.0

In [9]:
mgzb = allData['上市公司财务信息-每股指标']
mgzb2018Q3 = mgzb[mgzb.日期=='2018-09-30'].iloc[:,[0,3,4,5,6,7,8,9]]
mgzb2018Q3 = cleanData(mgzb2018Q3)
mgzb2018Q3.head()

,企业编号,基本每股收益(元),扣非每股收益(元),稀释每股收益(元),每股净资产(元),每股公积金(元),每股未分配利润(元),每股经营现金流(元)
0,1001,1.4400,1.4400,1.4400,14.4900,2.7855,4.3764,NaN
9,1002,0.4400,0.4400,0.4400,7.5914,3.2244,2.9182,1.2462
18,1003,0.2069,0.2069,0.2069,3.5143,0.3073,1.8095,NaN
27,1004,0.5900,0.5900,0.5900,6.6863,1.8590,3.3273,1.1021
36,1005,0.0890,0.0890,0.0890,1.7462,0.2584,0.4034,0.3362

In [10]:
#合并到score
score = score.merge(mgzb2018Q3,how = 'left', on='企业编号')
score.head()

,企业编号,企业总评分,专利类型,轮次,基本每股收益(元),扣非每股收益(元),稀释每股收益(元),每股净资产(元),每股公积金(元),每股未分配利润(元),每股经营现金流(元)
0,1001,75.374276,4.0,1.0,1.4400,1.4400,1.4400,14.4900,2.7855,4.3764,NaN
1,1002,79.830122,2.0,2.0,0.4400,0.4400,0.4400,7.5914,3.2244,2.9182,1.2462
2,1003,78.318264,1713.0,1.0,0.2069,0.2069,0.2069,3.5143,0.3073,1.8095,NaN
3,1004,83.253376,7.0,1.0,0.5900,0.5900,0.5900,6.6863,1.8590,3.3273,1.1021
4,1005,83.291493,14.0,1.0,0.0890,0.0890,0.0890,1.7462,0.2584,0.4034,0.3362

In [11]:
cwfx=allData['上市信息财务信息-财务风险指标']
cwfx2018Q3 = cwfx[cwfx.日期=='2018-09-30'].iloc[:,[0,3,4,5,6]]
cwfx2018Q3 = cleanData(cwfx2018Q3)
cwfx2018Q3.head()

    企业编号  资产负债率(%)  流动负债/总负债(%)  流动比率  速动比率
0   1001    0.9241       0.0000   NaN   NaN
9   1002    0.4335       0.5838  0.68  0.67
18  1003    0.5732       0.9538  1.35  1.18
27  1004    0.4084       0.5184  0.55  0.54
36  1005    0.7017       0.4133  0.75  0.69

In [12]:
#合并到score
score = score.merge(cwfx2018Q3,how = 'left', on='企业编号')
score.head()

,企业编号,企业总评分,专利类型,轮次,基本每股收益(元),扣非每股收益(元),稀释每股收益(元),每股净资产(元),每股公积金(元),每股未分配利润(元),每股经营现金流(元),资产负债率(%),流动负债/总负债(%),流动比率,速动比率
0,1001,75.374276,4.0,1.0,1.4400,1.4400,1.4400,14.4900,2.7855,4.3764,NaN,0.9241,0.0000,NaN,NaN
1,1002,79.830122,2.0,2.0,0.4400,0.4400,0.4400,7.5914,3.2244,2.9182,1.2462,0.4335,0.5838,0.68,0.67
2,1003,78.318264,1713.0,1.0,0.2069,0.2069,0.2069,3.5143,0.3073,1.8095,NaN,0.5732,0.9538,1.35,1.18
3,1004,83.253376,7.0,1.0,0.5900,0.5900,0.5900,6.6863,1.8590,3.3273,1.1021,0.4084,0.5184,0.55,0.54
4,1005,83.291493,14.0,1.0,0.0890,0.0890,0.0890,1.7462,0.2584,0.4034,0.3362,0.7017,0.4133,0.75,0.69

In [13]:
cznl=allData['上市信息财务信息-成长能力指标']
cznl2018Q3=cznl[cznl.日期=='2018-09-30'].iloc[:,[0,3,4,5,6,7,8,9,10,11,12]]
cznl2018Q3 = cleanData(cznl2018Q3)
cznl2018Q3.head()

,企业编号,营业总收入(元),毛利润(元),归属净利润(元),扣非净利润(元),营业总收入同比增长(元),归属净利润同比增长(元),扣非净利润同比增长(元),营业总收入滚动环比增长(元),归属净利润滚动环比增长(元),扣非净利润滚动环比增长(元)
0,1001,1.271e+11,NaN,4.320000e+10,4.300000e+10,0.0131,0.0314,0.0419,0.0205,0.0167,0.0167
9,1002,5.8e+09,1.610000e+09,9.190000e+08,9.150000e+08,0.1799,NaN,NaN,0.0520,NaN,NaN
18,1003,9.24e+09,1.010000e+09,4.140000e+08,3.510000e+08,NaN,2.5873,2.4530,NaN,0.3975,0.3717
27,1004,2.34e+09,1.030000e+09,5.900000e+08,6.160000e+08,0.1729,0.2363,0.3178,0.0154,0.0051,0.0416
36,1005,7.61e+09,2.330000e+09,4.290000e+08,3.860000e+08,0.2046,0.0144,NaN,0.0915,0.0996,0.1457

In [14]:
#合并到score
score = score.merge(cznl2018Q3,how = 'left', on='企业编号')
score.head()

,企业编号,企业总评分,专利类型,轮次,基本每股收益(元),扣非每股收益(元),稀释每股收益(元),每股净资产(元),每股公积金(元),每股未分配利润(元),...,营业总收入(元),毛利润(元),归属净利润(元),扣非净利润(元),营业总收入同比增长(元),归属净利润同比增长(元),扣非净利润同比增长(元),营业总收入滚动环比增长(元),归属净利润滚动环比增长(元),扣非净利润滚动环比增长(元)
0,1001,75.374276,4.0,1.0,1.4400,1.4400,1.4400,14.4900,2.7855,4.3764,...,1.271e+11,NaN,4.320000e+10,4.300000e+10,0.0131,0.0314,0.0419,0.0205,0.0167,0.0167
1,1002,79.830122,2.0,2.0,0.4400,0.4400,0.4400,7.5914,3.2244,2.9182,...,5.8e+09,1.610000e+09,9.190000e+08,9.150000e+08,0.1799,NaN,NaN,0.0520,NaN,NaN
2,1003,78.318264,1713.0,1.0,0.2069,0.2069,0.2069,3.5143,0.3073,1.8095,...,9.24e+09,1.010000e+09,4.140000e+08,3.510000e+08,NaN,2.5873,2.4530,NaN,0.3975,0.3717
3,1004,83.253376,7.0,1.0,0.5900,0.5900,0.5900,6.6863,1.8590,3.3273,...,2.34e+09,1.030000e+09,5.900000e+08,6.160000e+08,0.1729,0.2363,0.3178,0.0154,0.0051,0.0416
4,1005,83.291493,14.0,1.0,0.0890,0.0890,0.0890,1.7462,0.2584,0.4034,...,7.61e+09,2.330000e+09,4.290000e+08,3.860000e+08,0.2046,0.0144,NaN,0.0915,0.0996,0.1457

In [15]:
lrb=allData['上市信息财务信息-利润表']
lrb2018Q3=lrb[lrb.日期=='2018-09-30'].iloc[:,[0,3,4,5,6,7,8,9,10,11,12,13]]
lrb2018Q3 = cleanData(lrb2018Q3)
lrb2018Q3.head()

,企业编号,营业收入(元),营业成本(元),销售费用(元),财务费用(元),管理费用(元),资产减值损失(元),投资收益(元),营业利润(元),利润总额(元),所得税(元),归属母公司所有者净利润(元)
0,1001,1.271090e+11,NaN,NaN,NaN,3.042100e+10,4.407200e+10,1.111600e+10,5.091800e+10,5.089300e+10,7.229000e+09,4.303400e+10
6,1002,5.803395e+09,4.145927e+09,2.152162e+07,7.248514e+07,3.372786e+08,1.189036e+07,3.585955e+07,1.247170e+09,1.252524e+09,3.128934e+08,9.146334e+08
12,1003,9.242828e+09,8.192033e+09,4.175153e+08,NaN,6.466516e+08,5.835830e+07,4.567054e+08,3.847935e+08,3.741698e+08,NaN,3.514697e+08
18,1004,2.336538e+09,1.095251e+09,4.606538e+07,1.086343e+08,6.163542e+07,NaN,6.662619e+06,8.215637e+08,7.868014e+08,1.964082e+08,6.158968e+08
24,1005,7.612067e+09,5.110604e+09,8.645319e+06,8.546621e+08,9.514699e+08,NaN,1.089334e+08,7.615774e+08,7.611298e+08,2.518803e+08,3.859001e+08

In [16]:
#合并到score
score = score.merge(lrb2018Q3,how = 'left', on='企业编号')
score.head()

,企业编号,企业总评分,专利类型,轮次,基本每股收益(元),扣非每股收益(元),稀释每股收益(元),每股净资产(元),每股公积金(元),每股未分配利润(元),...,营业成本(元),销售费用(元),财务费用(元),管理费用(元),资产减值损失(元),投资收益(元),营业利润(元),利润总额(元),所得税(元),归属母公司所有者净利润(元)
0,1001,75.374276,4.0,1.0,1.4400,1.4400,1.4400,14.4900,2.7855,4.3764,...,NaN,NaN,NaN,3.042100e+10,4.407200e+10,1.111600e+10,5.091800e+10,5.089300e+10,7.229000e+09,4.303400e+10
1,1002,79.830122,2.0,2.0,0.4400,0.4400,0.4400,7.5914,3.2244,2.9182,...,4.145927e+09,2.152162e+07,7.248514e+07,3.372786e+08,1.189036e+07,3.585955e+07,1.247170e+09,1.252524e+09,3.128934e+08,9.146334e+08
2,1003,78.318264,1713.0,1.0,0.2069,0.2069,0.2069,3.5143,0.3073,1.8095,...,8.192033e+09,4.175153e+08,NaN,6.466516e+08,5.835830e+07,4.567054e+08,3.847935e+08,3.741698e+08,NaN,3.514697e+08
3,1004,83.253376,7.0,1.0,0.5900,0.5900,0.5900,6.6863,1.8590,3.3273,...,1.095251e+09,4.606538e+07,1.086343e+08,6.163542e+07,NaN,6.662619e+06,8.215637e+08,7.868014e+08,1.964082e+08,6.158968e+08
4,1005,83.291493,14.0,1.0,0.0890,0.0890,0.0890,1.7462,0.2584,0.4034,...,5.110604e+09,8.645319e+06,8.546621e+08,9.514699e+08,NaN,1.089334e+08,7.615774e+08,7.611298e+08,2.518803e+08,3.859001e+08

In [17]:
xjllb=allData['上市信息财务信息-现金流量表']
xjllb2018Q3=xjllb[xjllb.日期=='2018-09-30'].iloc[:,[0,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26]]
xjllb2018Q3 = cleanData(xjllb2018Q3)
xjllb2018Q3.head()

,企业编号,经营:销售商品、提供劳务收到的现金(元),经营:收到的税费返还(元),经营:收到其他与经营活动有关的现金(元),经营:经营活动现金流入小计(元),经营:购买商品、接受劳务支付的现金(元),经营:支付给职工以及为职工支付的现金(元),经营:支付的各项税费(元),经营:支付其他与经营活动有关的现金(元),经营:经营活动现金流出小计(元),...,投资:投资支付的现金(元),投资:投资活动现金流出小计(元),投资:投资活动产生的现金流量净额(元),筹资:吸收投资收到的现金(元),筹资:取得借款收到的现金(元),筹资:筹资活动现金流入小计(元),筹资:偿还债务支付的现金(元),筹资:分配股利、利润或偿付利息支付的现金(元),筹资:筹资活动现金流出小计(元),筹资活动产生的现金流量净额(元)
0,1001,NaN,NaN,5.682800e+10,3.776090e+11,NaN,1.541300e+10,2.255200e+10,5.139700e+10,7.396880e+11,...,3.328378e+12,3.331751e+12,3.905380e+11,7.990000e+08,NaN,1.088142e+12,1.028049e+12,2.602600e+10,1.054075e+12,3.406700e+10
6,1002,5.877995e+09,NaN,1.000130e+08,5.978008e+09,1.305612e+09,1.373723e+09,6.395116e+08,8.028316e+07,3.399130e+09,...,NaN,1.338935e+09,NaN,NaN,4.500000e+08,3.449680e+09,3.444935e+09,6.001069e+08,4.045042e+09,NaN
12,1003,9.537440e+09,3.201910e+08,1.029810e+09,1.088744e+10,9.582896e+09,6.255886e+08,1.343972e+08,1.307897e+09,1.165078e+10,...,5.582000e+09,5.645571e+09,NaN,NaN,NaN,1.332761e+07,NaN,6.221161e+07,8.337194e+07,NaN
18,1004,2.478603e+09,NaN,6.396279e+07,2.542566e+09,4.300035e+08,3.293077e+08,4.784140e+08,1.947431e+08,1.432468e+09,...,1.240900e+09,1.432227e+09,NaN,NaN,NaN,NaN,5.000000e+08,4.460867e+08,9.460867e+08,NaN
24,1005,7.733624e+09,1.079876e+08,8.879976e+08,8.729610e+09,4.117060e+09,1.395531e+09,8.529978e+08,7.435140e+08,7.109102e+09,...,8.936516e+08,6.811231e+09,NaN,7.184693e+08,1.414208e+10,1.939700e+10,1.145514e+10,1.341974e+09,1.292665e+10,6.470345e+09

In [18]:
#合并到score
score = score.merge(xjllb2018Q3,how = 'left', on='企业编号')
score.head()

,企业编号,企业总评分,专利类型,轮次,基本每股收益(元),扣非每股收益(元),稀释每股收益(元),每股净资产(元),每股公积金(元),每股未分配利润(元),...,投资:投资支付的现金(元),投资:投资活动现金流出小计(元),投资:投资活动产生的现金流量净额(元),筹资:吸收投资收到的现金(元),筹资:取得借款收到的现金(元),筹资:筹资活动现金流入小计(元),筹资:偿还债务支付的现金(元),筹资:分配股利、利润或偿付利息支付的现金(元),筹资:筹资活动现金流出小计(元),筹资活动产生的现金流量净额(元)
0,1001,75.374276,4.0,1.0,1.4400,1.4400,1.4400,14.4900,2.7855,4.3764,...,3.328378e+12,3.331751e+12,3.905380e+11,7.990000e+08,NaN,1.088142e+12,1.028049e+12,2.602600e+10,1.054075e+12,3.406700e+10
1,1002,79.830122,2.0,2.0,0.4400,0.4400,0.4400,7.5914,3.2244,2.9182,...,NaN,1.338935e+09,NaN,NaN,4.500000e+08,3.449680e+09,3.444935e+09,6.001069e+08,4.045042e+09,NaN
2,1003,78.318264,1713.0,1.0,0.2069,0.2069,0.2069,3.5143,0.3073,1.8095,...,5.582000e+09,5.645571e+09,NaN,NaN,NaN,1.332761e+07,NaN,6.221161e+07,8.337194e+07,NaN
3,1004,83.253376,7.0,1.0,0.5900,0.5900,0.5900,6.6863,1.8590,3.3273,...,1.240900e+09,1.432227e+09,NaN,NaN,NaN,NaN,5.000000e+08,4.460867e+08,9.460867e+08,NaN
4,1005,83.291493,14.0,1.0,0.0890,0.0890,0.0890,1.7462,0.2584,0.4034,...,8.936516e+08,6.811231e+09,NaN,7.184693e+08,1.414208e+10,1.939700e+10,1.145514e+10,1.341974e+09,1.292665e+10,6.470345e+09

In [19]:
ylnl=allData['上市信息财务信息盈利能力指标']
ylnl2018Q3=ylnl[ylnl.日期=='2018-09-30'].iloc[:,[0,3,4,5,6,7,8]]
ylnl2018Q3 = cleanData(ylnl2018Q3)
ylnl2018Q3.head()

    企业编号  加权净资产收益率(%)  摊薄净资产收益率(%)  摊薄总资产收益率(%)  毛利率(%)  净利率(%)  实际税率(%)
0   1001       0.1048       0.0949       0.0071     NaN  0.3435   0.1420
9   1002       0.0590       0.0585       0.0372  0.2856  0.1619   0.2498
18  1003       0.0603       0.0589       0.0231  0.1137  0.0438      NaN
27  1004       0.0896       0.0876       0.0512  0.5313  0.2527   0.2496
36  1005       0.0342       0.0335       0.0089  0.3286  0.0669   0.3309

In [20]:
#合并到score
score = score.merge(ylnl2018Q3,how = 'left', on='企业编号')
score.head()

,企业编号,企业总评分,专利类型,轮次,基本每股收益(元),扣非每股收益(元),稀释每股收益(元),每股净资产(元),每股公积金(元),每股未分配利润(元),...,筹资:偿还债务支付的现金(元),筹资:分配股利、利润或偿付利息支付的现金(元),筹资:筹资活动现金流出小计(元),筹资活动产生的现金流量净额(元),加权净资产收益率(%),摊薄净资产收益率(%),摊薄总资产收益率(%),毛利率(%),净利率(%),实际税率(%)
0,1001,75.374276,4.0,1.0,1.4400,1.4400,1.4400,14.4900,2.7855,4.3764,...,1.028049e+12,2.602600e+10,1.054075e+12,3.406700e+10,0.1048,0.0949,0.0071,NaN,0.3435,0.1420
1,1002,79.830122,2.0,2.0,0.4400,0.4400,0.4400,7.5914,3.2244,2.9182,...,3.444935e+09,6.001069e+08,4.045042e+09,NaN,0.0590,0.0585,0.0372,0.2856,0.1619,0.2498
2,1003,78.318264,1713.0,1.0,0.2069,0.2069,0.2069,3.5143,0.3073,1.8095,...,NaN,6.221161e+07,8.337194e+07,NaN,0.0603,0.0589,0.0231,0.1137,0.0438,NaN
3,1004,83.253376,7.0,1.0,0.5900,0.5900,0.5900,6.6863,1.8590,3.3273,...,5.000000e+08,4.460867e+08,9.460867e+08,NaN,0.0896,0.0876,0.0512,0.5313,0.2527,0.2496
4,1005,83.291493,14.0,1.0,0.0890,0.0890,0.0890,1.7462,0.2584,0.4034,...,1.145514e+10,1.341974e+09,1.292665e+10,6.470345e+09,0.0342,0.0335,0.0089,0.3286,0.0669,0.3309

In [21]:
yynl=allData['上市信息财务信息运营能力指标']
yynl2018Q3=yynl[yynl.日期=='2018-09-30'].iloc[:,[0,3,4,5]]
yynl2018Q3 = cleanData(yynl2018Q3)
yynl2018Q3.head()

    企业编号  总资产周转率(次)  应收账款周转天数(天)  存货周转天数(天)
0   1001       0.02          NaN        NaN
9   1002       0.23        41.90       5.01
18  1003       0.53       123.41      53.82
27  1004       0.20        17.29       6.50
36  1005       0.13        93.00      47.05

In [22]:
#合并到score
score = score.merge(yynl2018Q3,how = 'left', on='企业编号')
score.head()

,企业编号,企业总评分,专利类型,轮次,基本每股收益(元),扣非每股收益(元),稀释每股收益(元),每股净资产(元),每股公积金(元),每股未分配利润(元),...,筹资活动产生的现金流量净额(元),加权净资产收益率(%),摊薄净资产收益率(%),摊薄总资产收益率(%),毛利率(%),净利率(%),实际税率(%),总资产周转率(次),应收账款周转天数(天),存货周转天数(天)
0,1001,75.374276,4.0,1.0,1.4400,1.4400,1.4400,14.4900,2.7855,4.3764,...,3.406700e+10,0.1048,0.0949,0.0071,NaN,0.3435,0.1420,0.02,NaN,NaN
1,1002,79.830122,2.0,2.0,0.4400,0.4400,0.4400,7.5914,3.2244,2.9182,...,NaN,0.0590,0.0585,0.0372,0.2856,0.1619,0.2498,0.23,41.90,5.01
2,1003,78.318264,1713.0,1.0,0.2069,0.2069,0.2069,3.5143,0.3073,1.8095,...,NaN,0.0603,0.0589,0.0231,0.1137,0.0438,NaN,0.53,123.41,53.82
3,1004,83.253376,7.0,1.0,0.5900,0.5900,0.5900,6.6863,1.8590,3.3273,...,NaN,0.0896,0.0876,0.0512,0.5313,0.2527,0.2496,0.20,17.29,6.50
4,1005,83.291493,14.0,1.0,0.0890,0.0890,0.0890,1.7462,0.2584,0.4034,...,6.470345e+09,0.0342,0.0335,0.0089,0.3286,0.0669,0.3309,0.13,93.00,47.05

In [23]:
zcfzb=allData['上市信息财务信息资产负债表']
zcfzb2018Q3=zcfzb[zcfzb.日期=='2018-09-30'].iloc[:,[0,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]]
zcfzb2018Q3 = cleanData(zcfzb2018Q3)
zcfzb2018Q3.head()

,企业编号,资产:货币资金(元),资产:应收账款(元),资产:其它应收款(元),资产:存货(元),资产:流动资产合计(元),资产:长期股权投资(元),资产:累计折旧(元),资产:固定资产(元),资产:无形资产(元),...,负债:预收账款(元),负债:存货跌价准备(元),负债:流动负债合计(元),负债:长期负债合计(元),负债:负债合计(元),权益:实收资本(或股本)(元),权益:资本公积金(元),权益:盈余公积金(元),权益:股东权益合计(元),流动比率
0,1001,NaN,NaN,NaN,NaN,NaN,91.984360,NaN,0.312562,198.357664,...,NaN,NaN,NaN,NaN,NaN,0.0,0.000000,16.474872,9.305418,NaN
6,1002,246.460883,2.320686,NaN,4.506603,102.805115,24.744940,NaN,214.370477,2384.868487,...,376.835024,NaN,61.410031,355.493269,120.711820,0.0,5.945128,49.631472,7.747322,NaN
12,1003,NaN,36.930237,NaN,NaN,NaN,34.374049,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.882350,4.809458,2.551173,NaN
18,1004,NaN,NaN,21.638871,13.320671,9.199667,27.706403,NaN,NaN,NaN,...,6.042780,NaN,10.798176,NaN,NaN,0.0,0.000000,0.000000,6.750756,NaN
24,1005,66.272592,35.675649,112.048804,NaN,40.883944,6.212149,NaN,35.473855,20.273534,...,NaN,NaN,1.058150,94.545591,40.738386,0.0,105.019838,6.842940,21.468051,NaN

In [27]:
#简单把NaN替换成均值
score.fillna(score.mean(), inplace=True)

In [28]:
#简单线性回归
from sklearn import linear_model

In [29]:
y=score.iloc[:,1]
X=score.iloc[:,[4]]

In [30]:
lm = linear_model.LinearRegression()
model = lm.fit(X,y)

In [31]:
lm.score(X,y)

0.4295069933337723

In [32]:
lm.coef_

array([-8.09164239])

In [33]:
#预测结果
predictions = lm.predict(X)
predictDf = pd.DataFrame({'a': score.企业编号,'b':predictions })
predictDf.to_excel("predict.xlsx", header=False, index=False, engine='xlsxwriter', float_format='%d', sheet_name='Sheet')

In [34]:
#输出误差，越小越好
cmd = 'java -jar  ../Competition/mission1_test.jar  ./real.xlsx ./predict.xlsx'
with popen(cmd) as f:
    err = float(f.read().strip())
    print(err)

6.324555320336759